* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  margin-top:-10px;
}

body {
  height: 100vh;
  width: 100vw;
}

.form {
  display: flex;
  flex-wrap: wrap;

  .full {
    flex: 100%;
  }

  .half {
    flex: 50%;
  }

  .center {
    align-self: center;
  }
}
